/* Global Styles */

h1, h2, h3 {
  font-family: 'Raleway', serif;
}

h2{
	color: #00A2CC;
}

i{
	color: #00A2CC;
}

/* Global Styles termina */

h1{
	display: inline-block;
	background-color: rgba(2,9,0,.2);
	color: white;
	border-radius: 5px;
	padding: 20px 5px;

}


.container-fluid{
	background-color: white;
	border: 0;
}

.navbar-default .navbar-nav>li>a{
	color: #00A2CC;
}

.navbar-brand {
	background: url(../img/logo.png) no-repeat center / auto 100% transparent;
	text-indent: -10000px;
	width: 150px;
	height: 60px;
	
}

.navbar {
	z-index: auto;
}


header {
	margin-top: -20px;
}

.container .cuerpo{
	margin-top: 200px;
	padding-top: 40px;
}

/*Section Mision y Filosofia*/
.mision__inner{
	background-color: #00A2CC;
	color: #FAFAFA;
	height: 300px;
	padding: 50px;
}

.mision__inner_background{
	background-image: url(../img/box.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}

.mision__inner h3{
	font-size: 3em;
}
.mision__inner p{
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 8vw;
}

@media only screen and (max-width : 767px){
	.mision__inner {
		padding-top: 2vh;
		padding-left: 15vw;
		padding-bottom: 5vh;
		height: 400px;
	}
	.mision__inner h3{
	font-size: 2em;
	}

	.mision__inner-background{
		height: 300px;
	}
}

.filosofia__inner_background	{
	background-image: url(../img/rece.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}

.filosofia__inner {
	background-color: #96D400;
	color: #FFFFFF;
	height: 300px;
	padding: 50px;
}

.filosofia__inner h3{
	font-size: 3em;
}

@media only screen and (max-width : 767px){
	.filosofia__inner {
		padding-top: 2vh;
		padding-left: 15vw;
		padding-bottom: 5vh;
		height: 400px;
	}
	.filosofia__inner h3{
	font-size: 2em;
	}

	.filosofia__inner-background{
		height: 300px;
	}
}

/* comienzan los Atajos*/
.primer__atajos .row{
	color: #00A2CC;
	font-size: 3em;
	text-align: center;
	margin: 5px, 0, 5px,0;
}

.container.atajos{
	margin-top: 20px;
	margin-bottom: 20px;
}

.primer__atajos .thumbnail{
	border-color: #96D400;
}

.calendar{
	text-align: center;

}

.span12{
	margin-left: 170px;
	position: absolute; 
}

@media only screen and (max-width : 767px){
	.signin {
	visibility: hidden;
}
}


.fechas .row{
	height: 500px;
	border: solid 1px #96D400;
}

footer{
	width: 100%;
	height: 400px;
	display: block;
	background-color: rgba(75,166,222,0.1);
	padding: 20px;
	padding-top: 100px;
	margin-bottom: 0px;
}

footer img{
	align-content: center;
	display: inline-block;
	position: relative;
	padding-left: 42vw;
}

footer button {
	margin: 15px;
}

iframe{
	border: solid 1px grey;
}

.jumbotron{
	background-color: #FFFFFF;
	height: 
}

/*ORGANIGRAMA*/


.organigrama * {
  position: relative;

}

.organigrama ul {
	padding-top: 20px;
  	position: relative;
}

.organigrama li {
	float: left;
	text-align: center;
	list-style-type: none;
	padding: 20px 5px 0px 5px;
	position: relative;
}

.organigrama li::before, .organigrama li::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 50%;
	border-top: 1px solid #A8D42E;
	width: 50%;
	height: 20px;
}

.organigrama li::after{
	right: auto;
  left: 50%;
	border-left: 1px solid #A8D42E;
}

.organigrama li:only-child::before, .organigrama li:only-child::after {
	display: none;
}

.organigrama li:only-child {
  padding-top: 0;
}

.organigrama li:first-child::before, .organigrama li:last-child::after{
	border: 0 none;
}

.organigrama li:last-child::before{
	border-right: 1px solid #A8D42E;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.organigrama li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.organigrama ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #A8D42E;
	width: 0;
	height: 20px;
}

.organigrama li a {
	border: 1px solid #A8D42E;
	padding: 1em 0.75em;
	text-decoration: none;
	color: #333;
	background-color: rgba(255,255,255,0.5);
	font-family: arial, verdana, tahoma;
	font-size: 0.85em;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
}

.organigrama li a:hover {
	border: 1px solid #A8D42E;
	color: #00A2CC;
  background-color: rgba(75,166,222,0.7);
	display: inline-block;
}

.organigrama > ul > li > a {
  font-size: 1em;
  font-weight: bold;
}

.organigrama > ul > li > ul > li > a {
  width: 8em;
}





/* termina Organigrama */

/* Galeria */
.jumbotron {	
	height: 400px;
	margin-top: -20px;
	text-align: center;
	color: white;
	background-image: url(../img/BANNER3.jpg);
	background-size: cover;
}

.jumbotron h2{
	color: white;
	font-size: 80px;
	text-align: center;
	padding: 5px;
}

.jumbotron p{
	background-color: rgba(75,166,222,0.8);
	padding: 10px;
	display: inline;
	border-radius: 10px;
	text-align: center;
}

.thumbnail{

	border-color: #cccccc;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
}

.thumbnail h3{
	padding: 1px;
}

.thumbnail p{
	text-align: center;
	font-size: 1.2rem;
}


.row {
	clear: both;
}

.cero {
	filter: saturate(0%);
	size: 40px;

 } 


.satura{
    filter: saturate(100%);
    transition: 1s;
    
 }


/* Contac */
.teatinos iframe {
	width: 350px;
	height: 600px;
	display: inline-block;
	margin-left: 300px;

}